:root{
  --nav-bg: #1e1b4b;
  --primary: #1e40af;
  --danger: rgb(149, 6, 6);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.4em 1.0em;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary{
  background-color: var(--primary);
  color: white;
}

.btn-danger{
  background-color: var(--danger);
  color: white;
}

hr{
  margin: 1em 0em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--nav-bg);
  color: white;
}